.divider p:nth-child(1){ 
    content: '';
    background: rgba(0, 0, 0, 1);
    width: 135.5px;
    height: 1px;
    left: 0;
}
 
.divider p:nth-child(3) { 
    content: '';
    background: rgba(0, 0, 0, 1);
    width: 135.5px;
    height: 1px;
    right: 0;
}
p.login_OTP,.forgot_password {
    font-size: 16px;
    font-weight: 600;
    color: var(--formTitlecolor);
    cursor: pointer;
}

.forgot_password{
    font-size: 15px;
}
.login_slider_img{
    background-image: url('../../Assets/login_img.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.disabled-text {
    color: gray !important;
    cursor: not-allowed;
    pointer-events: none;
}