

.county_code {
    padding: 6.5px 8px;
    color: var(--countryTextcolor);
    font-weight: 500;
    font-size: 14px;
    background: var(--formCountryBgcolor);
}

.country_phone .form-control {
    border-radius: 0 .25rem .25rem 0 !important;
}

.country_phone .mobileOtpbtn ,.email_code .emailOtpbtn {
    position: absolute;
    right: 8px;
    color: var(--formTitlecolor);
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}

.modal-body {
    padding: 20px 70px;
}

.otp-input-flex div {
    gap: 20px !important;
}

.otp-input-flex div input[type="text"] {
    width: 50px !important;
    text-align: center !important;
    height: 50px !important;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 1px 1px #bdbdbd;
    border-radius: 5px !important;
}

.modal-content {
    width: 88% !important;
    margin: 0 auto !important;
    border-radius: 10px;
}

.modal-content p {
    margin: 0px;
    padding-top: 10px;
    color: var(--formLabelcolor);
    font-size: 14px;
}

.modal-content p span {
    color: #2D2E83;
}

.modal-footer button {
    background-image: var(--formPrimatyBgcolor);
    padding: 10px 60px;
    font-weight: 500;
    border: none;
    margin: 0 auto;
}

.slider_img {
    background-image: url('../../Assets/register_img.png');
    background-position: center;
    background-repeat: no-repeat;
}

.modal {
    pointer-events: none;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    box-shadow: none !important;
}

.otp-input-flex .invalid_otp {
    border: 1px solid red !important;
    box-shadow: none !important;
}


.page-freeze {
    pointer-events: none;
    opacity: 0.5;
    /* Dim the page */
}

 