/*Signup and Login css*/
.registration_wrapper .registration_wrapper_inner .col-md-6:nth-child(2),
.login_wrapper .login_wrapper_inner .col-md-6:nth-child(2) {
  background-color: var(--formSliderBgcolor);
}
.registration_page,
.login_page {
  background-color: var(--screenBgcolor);
}
.registration_page form h1,
.login_page form h1 {
  color: var(--formTitlecolor);
  font-weight: 600;
  font-size: 30px;

}

.registration_page form .login_text,
.login_page form .login_text {
  font-size: 14px;
  margin: 7px auto;
  display: flex;
  justify-content: center;
  gap: 5px;
  color: var(--formSubtitlecolor);
}

.registration_page form .login_text span,.login_page form .login_text span {
    color: var(--formTitlecolor);
    font-weight: 500;
    cursor: pointer;
}

.registration_page form,.login_page form {
    width: 60%;
    margin: 0 auto;
    background: var(--registerBgcolor);
    box-shadow: 3px 3px 16px 0 #00000036;
    padding: 26px 60px;
    border-radius: 10px;
}

label.form-label {
    color: var(--formLabelcolor);
    font-weight: 500;
    font-size: 14px;
}

.form-control {
    font-size: 14px !important;
}

form button.btn.btn-primary {
    background-image: var(--formPrimatyBgcolor);
    padding: 10px 100px;
    font-weight: 500;
    border: none;
    margin-top: 20px;

}


form button img {
    max-width: 100%;
    width: 15px;
    height: 15px;
}


.registration_wrapper .registration_wrapper_inner .row,.login_wrapper .login_wrapper_inner .row {
    margin-left: 0;
}

.password_toggle_btn button {
    top: 3px;
    right: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
}
